:root {
  font-size: 16px;
  --card-bg-color: rgba(221, 220, 220, 0.885);
  --primary-theme-color: #001182;
  --secondary-theme-color: #ec741e;
  --text-color: #1b1b1b;
  --element-color: #fcf7ed;
  --tertiary-theme-color: #ef9d12;
  --opacity-color: #575656;
  --status-color:#1d7e00;
  --hover-dark-mode: #ffffff4b;
  --opcity-darkmode: rgb(57 57 57 );
}

